<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="libs/font-icon/css/font-icon.min.css"/>
		<link rel="stylesheet" href="libs/animate.min.css"/>
		<link rel="stylesheet" href="css/index.css"/>
		<link rel="stylesheet" href="css/login-and-regist.css"/>
	</head>
	<body>
	<script src="libs/template.js"></script>
		<nav id="site-nav">
			<div class="sn-container">
				<span>欢迎光临淘嘟嘟!</span>
				<span id="login-account"><a href="" id="sn-login">请登录</a></span>
				<span id="regist-logout"><a href="" id="register">免费注册</a></span>
				<ul class="sn-quick-menu">
					<li class="sn-myInfo sn-fold">
						<a href="">我的信息</a>
						<i class="fa fa-angle-down"></i>
						<div id="sn-myInfo-fold">
							<a href="">已买到的宝贝</a>
							<a href="">我的地址管理</a>
						</div>
					</li>
					<li class="sn-fa-red">
						<i class="fa fa-heart"></i>
						<a href="">我关注的店铺</a>
					</li>
					<li class="sn-fa-red">
						<i class="fa fa-shopping-cart"></i>
						<a href="">购物车</a>
					</li>
					<li class="sn-fold">
						<a href="">收藏夹</a>
						<i class="fa fa-angle-down"></i>
						<div id="favorite-fold">
							<a href="">收藏的宝贝</a>
							<a href="">收藏的店铺</a>
						</div>
					</li>
					<li id="vertical-line">
						<span>|</span>
					</li>
					<li class=" sn-fold">
						<i class="fa fa-mobile-phone sn-fa-red"></i>
						<a href="">手机版</a>
						<i class="fa fa-angle-down"></i>
						<div id="client">
							<a href="">手机客户端</a>
							<a href="" id="QRcode"></a>
						</div>
					</li>
					<li class="sn-fold">
						<a href="">商家支持</a>
						<i class="fa fa-angle-down"></i>
						<div id="seller">
							<section>
								<h5>商家：</h5>
								<a href="">平台总则</a>
								<a href="">退货规则</a>
							</section>
							<section>
								<h5>帮助：</h5>
								<a href="">帮助中心</a>
							</section>	
						</div>
					</li>
				</ul>
			</div>
		</nav>
		<div id="header">
			<div class="w1210 flex">
				<div id="mall-logo">
					<a href=""></a>
				</div>
				<div id="mall-logo-right">
					<a href=""></a>
				</div>
				<div class="mall-search">
					<div id="search-box">
						<ul class="search-type">
							<li>宝贝</li>
							<li class="cur-type">店铺</li>
							<i class="fa fa-angle-down"></i>
						</ul>
						<form id="search-form">
							<input type="text" name="" id="keyword" autocomplete="off" value="请输入关键字"/>
							<input type="button" name="search-btn" id="search-btn" value="搜&nbsp;索"/>
						</form>
					</div>
					<ul id="hot-query">
						<!--template-->
					</ul>
				</div>
				<ul id="header-right">
					<script id="headerRight" type="text/html">
						{{each imgsrc as src index}}
						<li><a href=""><img src="{{src}}"/></a></li>
						{{/each}}
					</script>
						
				</ul>
			</div>
		</div>
		<div class="all-nav">
			<div class="w1210">
				<div class="all-nav-bar">
					<div class="all-classify">
						<a href="">全部商品分类</a>
					</div>
					<ul class="classify">
						<li><a href="">首页</a></li>
						<li><a href="">食品/酒水/生鲜</a></li>
						<li><a href="">奶粉</a></li>
						<li><a href="">化妆个护</a></li>
						<li><a href="">店铺街</a></li>
						<li><a href="">折扣专区</a></li>
						<li><a href="">最新动态</a></li>
					</ul>
				</div>
				
			</div>
		</div>
		<!--*****-->
		<div class="all-banner">				
			<div class="main-banner w1210">
				<ul  id="all-cate">
					<!--template-->
				</ul>
				<div id="carousel-box">
					<!--轮播图-->
					<section id="carousel">
						<a href="">
							<img src="img/carousel/20161026jwlhvy.jpg"/>
						</a>
						<a href="">
							<img src="img/carousel/20161101mrekqv.jpg"/>
						</a>
						<a href="">
							<img src="img/carousel/20161019loikjt.jpg"/>
						</a>
						<a href="">
							<img src="img/carousel/20161024dcndiy.jpg"/>
						</a>
						<a href="">
							<img src="img/carousel/20161013ircgbo.jpg"/>
						</a>
						<a href="">
							<img src="img/carousel/20161013hgylly.jpg"/>
						</a>
						<a href="">
							<img src="img/carousel/20161009jwgqbc.jpg"/>
						</a>	
						<a href="">
							<img src="img/carousel/20161026jwlhvy.jpg"/>
						</a>					
						<div id="pl">
							<span class="point"></span>
							<span class="point"></span>
							<span class="point"></span>
							<span class="point"></span>
							<span class="point"></span>
							<span class="point"></span>
							<span class="point"></span>
						</div>
					</section>
					<div class="trigeminy" id="trigeminy">
						<script id="tri" type="text/html">
							{{each imgsrc as src index}}
								<section>
									<a href="">
										<img src="{{src}}"/>
									</a>
								</section>
							{{/each}}
						</script>
					</div>
				</div>
				<!---->
				<div class="right-sidebar">
					<div class="sale-discount">
						<h3>限时抢购</h3>
						<ul class="discount">
							<li class="goods">
								<p id="countDownBox1" class="count-down-box">
									<span class="count-down">00</span>天
									<span class="count-down">00</span>小时
									<span class="count-down">00</span>分
									<span class="count-down">00</span>秒
								</p>
								<a href="">
									<img src="img/right-side/_thumb_P_1471177731997.jpg"/>
								</a>
								<p class="goods-info">
									<a href="">澳洲BLINGKISS玫瑰果油美白亮肤抚纹修复 紧致弹性 5...</a>
								</p>
								<p>
									<span class="price">￥99.00</span>
									<span class="rebate">5.5折</span>
								</p>
							</li>
							<li class="goods">
								<p id="countDownBox2" class="count-down-box">
									<span class="count-down">00</span>天
									<span class="count-down">00</span>小时
									<span class="count-down">00</span>分
									<span class="count-down">00</span>秒
								</p>
								<a href="">
									<img src="img/right-side/25330_thumb_G_1478511914768.jpg"/>
								</a>
								<p class="goods-info">
									<a href="">韩国妃尔妆velvizo海洋滋润强效补水面膜肌肤29g*6/...</a>
								</p>
								<p>
									<span class="price">￥149.00</span>
									<span class="rebate">10.0折</span>
								</p>
							</li>
							<li class="goods">
								<p id="countDownBox3" class="count-down-box">
									<span class="count-down">00</span>天
									<span class="count-down">00</span>小时
									<span class="count-down">00</span>分
									<span class="count-down">00</span>秒
								</p>
								<a href="">
									<img src="img/right-side/25470_thumb_G_1477468837694.jpg"/>
								</a>
								<p class="goods-info">
									<a href="">澳洲BLINGKISS玫瑰果油美白亮肤抚纹修复 紧致弹性 5...</a>
								</p>
								<p>
									<span class="price">￥99.00</span>
									<span class="rebate">5.5折</span>
								</p>
							</li>
							<li class="goods">
								<p id="countDownBox4" class="count-down-box">
									<span class="count-down">00</span>天
									<span class="count-down">00</span>小时
									<span class="count-down">00</span>分
									<span class="count-down">00</span>秒
								</p>
								<a href="">
									<img src="img/right-side/25395_thumb_G_1477041810832.jpg"/>
								</a>
								<p class="goods-info">
									<a href="">澳洲BLINGKISS玫瑰果油美白亮肤抚纹修复 紧致弹性 5...</a>
								</p>
								<p>
									<span class="price">￥99.00</span>
									<span class="rebate">5.5折</span>
								</p>
							</li>
							<li class="goods">
								<p id="countDownBox5" class="count-down-box">
									<span class="count-down">00</span>天
									<span class="count-down">00</span>小时
									<span class="count-down">00</span>分
									<span class="count-down">00</span>秒
								</p>
								<a href="">
									<img src="img/right-side/22717_thumb_G_1473212375795.jpg"/>
								</a>
								<p class="goods-info">
									<a href="">澳洲BLINGKISS玫瑰果油美白亮肤抚纹修复 紧致弹性 5...</a>
								</p>
								<p>
									<span class="price">￥99.00</span>
									<span class="rebate">5.5折</span>
								</p>
							</li>
						</ul>
						<div class="arrow pre"><i class="fa fa-angle-left"></i></div>
						<div class="arrow next"><i class="fa fa-angle-right"></i></div>
					</div>
					<div class="proclamation">
						<ul class="tabs">
							<li class="tabs-selected">商城公告</li>
							<li>招商入驻</li>
						</ul>
						<ul id="mall-news">
							<script id="mn" type="text/html">
								{{each newstitle as n index}}
								<li>
									<a href="">{{n}}</a>
								</li>
								{{/each}}
							</script>
						</ul>
						<div class="tabs-panel">
							<a href="" class="store-join-btn" title="申请商家入驻；已提交申请，可查看当前审核状态。"></a>
							<a href="" class="store-join-help"><i class="fa fa-cog"></i>登录商家管理中心</a>
						</div>
						
					</div>
				</div>
				
			</div>
		</div>
		<!--**************-->
		<div class="w1210" id="ad-groups">
			<script id="ad" type="text/html">
				<ul>
					{{each imgsrc as src index}}
					<li>
						<a href="">
							<img src="{{src}}"/>
						</a>
					</li>
					{{/each}}
				</ul>	
			</script>
		</div>
		<!--****************-->
		<div class="w1210 store-wall">
			<a href="" class="store-wall-title">店铺街
				<span>推荐店铺</span>
			</a>
			<div id="store-wall-content">
				<!--template-->
			</div>
		</div>
		<!--****************-->		
		<div class="w1210" id="index-sale">
			<!--template-->
		</div>
		<div class="w1210 floor">
			<div class="floor-layout">
				<a href="" class="banner-ad">
					<img src="img/floor/1463824952379974145.jpg"/>
				</a>
			</div>
		</div>
		<footer class="footer">
			<div class="footer-service">
				<div class="w1210">
					<ul class="list-service">
						<li>
							<a href="">
								<i></i>
								<b>快速配送</b>
							</a>
						</li>
						<li>
							<a href="">
								<i></i>
								<b>24小时发货</b>
							</a>
						</li>
						<li>
							<a href="">
								<i></i>
								<b>7天退货</b>
							</a>
						</li>
						<li>
							<a href="">
								<i></i>
								<b>100%正品</b>
							</a>
						</li>
						<li>
							<a href="">
								<i></i>
								<b>企业店铺入驻</b>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="footer-related">
				<div class="footer-article w1210">
					<dl>
						<dt>关于我们</dt>
						<dd><a href=" ">关于淘嘟嘟</a></dd>
						<dd><a href=" ">淘嘟嘟招聘</a></dd>
						<dd><a href=" ">联系我们</a></dd>
					</dl>
					<dl>
						<dt>新手指南</dt>
						<dd><a href=" ">会员注册</a></dd>
						<dd><a href=" ">购物流程</a></dd>
						<dd><a href=" ">买家拍卖指南</a></dd>
					</dl>
					<dl>
						<dt>支付/配送</dt>
						<dd><a href=" ">商品验货与签收</a></dd>
						<dd><a href=" ">配送时间与范围</a></dd>
						<dd><a href=" ">支付常见问题</a></dd>
						<dd><a href=" ">网上支付</a></dd>
					</dl>
					<dl>
						<dt>平台规则</dt>
						<dd><a href=" ">退换货规则</a></dd>
						<dd><a href=" ">淘嘟嘟总则</a></dd>
					</dl>
					<dl>
						<dt>帮助信息</dt>
						<dd><a href=" ">优惠规则</a></dd>
						<dd><a href=" ">常见问题</a></dd>
						<dd><a href=" ">找回密码</a></dd>
					</dl>
					<dl>
						<dt>服务支持</dt>
						<dd><span>客服电话 0371-00000000</span></dd>
						<dd><span>客服 QQ 0000000000</span></dd>
						<dd><span>工作时间 8：30-18：00</span></dd>
					</dl>
				</div>
				<div class="footer-info">
					<div class="links">
						<a href=""><img src="img/floor/01.jpg"/></a>
						<a href=""><img src="img/floor/02.jpg"/></a>
						<a href=""><img src="img/floor/03.jpg"/></a>
						<a href=""><img src="img/floor/04.jpg"/></a>
						<a href=""><img src="img/floor/05.jpg"/></a>
					</div>
					<div class="info-text">
						<p>
							<a href="">商家入驻</a>|
							<a href="">站内地图</a>|
							<a href="">帮助中心</a>
							ICP备案证书号:
							<a href="">豫B2-00000000-0</a>
						</p>
						<p class="info-bottom">
							<a href="">© 2005-2016 淘嘟嘟 版权所有，并保留所有权利。</a>
							<a href="">河南省电子商务产业园</a>
							<a href="">Tel: 4000000000</a>
							<a href="">E-mail: 00000000@000.com</a>
						</p>
					</div>
				</div>
			</div>
		</footer>
		<aside class="right-side-bar">
			<div class="right-side-menu">
				<ul>
					<li class="quick-login">
						<a><i class="user-head"></i></a>
						<div class="sidebar-user">
							<i class="fa fa-caret-right"></i>
							<div class="sidebar-user-info">
								<div class="user-pic">
									<img src="img/people.gif"/>
								</div>
								<p>
									你好!请<a href="" class="sidebar-login-a">登录</a>|<a href="" class="sidebar-regist-a">注册</a>
								</p>
							</div>
						</div>
					</li>
					<li class="side-bar-tabs">
						<a href="" class="mpbtn-bonus"><i class="bonus"></i></a>
						<div class="popup"><b>领红包再购物</b></div>
					</li>
					<li class="shopping-cart">
						<div id="collectBox">
							<i class="cart-icon"></i>
							<div class="span">购物车</div>
							<span class="cart-num">0</span>
						</div>
					</li>
					<li class="side-bar-tabs">
						<a href=""><i class="history"></i></a>
						<div class="popup"><b>我的足迹</b></div>
					</li>
					<li class="side-bar-tabs">
						<a href=""><i class="stores"></i></a>
						<div class="popup"><b>我关注的店铺</b></div>
					</li>
					<li class="side-bar-tabs">
						<a href=""><i class="collect"></i></a>
						<div class="popup"><b>我的收藏</b></div>
					</li>
				</ul>
				<div class="quick-toggle">
					<ul>
						<li class="quick-area side-bar-tabs">
							<a href=""><i class="customer-service"></i></a>
							<div class="popup"><b>QQ客服</b></div>
						</li>
						<li class="quick-area side-bar-tabs">
							<a href=""><i class="customer-contact"></i></a>
							<div class="popup"><b>400-0000-000</b></div>
						</li>
						<li class="quick-area side-bar-tabs">
							<a href=""><i class="qr-code"></i></a>
							<div class="sidebar-code">
								<i></i>
								<img src=""/>
							</div>
						</li>
						<li class="return-top side-bar-tabs">
							<a href=""><i class="top"></i></a>
							<div class="popup"><b>回到顶部</b></div>
						</li>
					</ul>
				</div>
			</div>
			<div class="right-side-open">
				
			</div>
		</aside>
		
		<!--登录注册-->
		<div class="pop-mask">
			<div class="pop-login">
				<div class="pop-header">
					<span>您尚未登录</span>
					<i id="pop-close" class="fa fa-close"></i>
				</div>
				<div class="pop-con">
					<form id="login" action="" method="post">
						<div class="form">
							<div class="mt">
								<h2>用户登录</h2>
								<a href="" class="right-regist">
									<span>立即注册</span>
									<i class="fa fa-angle-right"></i>
								</a>
							</div>
							<div class="mc">
								<div>
									<i class="mc-head-icon"></i>
									<input type="text" name="account" id="user-name" required placeholder="手机号/用户名/邮箱" autocomplete="off"/>
								</div>
								<div>
									<i class="mc-psw-icon"></i>
									<input type="password" name="psw" id="psw" required placeholder="密码" />
								</div>
							</div>
							<div class="safety">
								<input type="checkbox" name="remember" id="remember" value="1" />
								<label for="remember">请保存我这次的登录信息</label>
								<a href="" class="forget-psw">忘记密码?</a>
							</div>
							<div class="loginregist-btn">
								<input type="submit" id="login-submit" name="submit" value="立即登录"/>
							</div>
							<div class="item-coagent">
								<a href=""><i class="weixin"></i>微信登录</a>
								<a href=""><i class="qq"></i>QQ登录</a>
								<a href=""><i class="weibo"></i>微博登录</a>
							</div>
						</div>
					</form>
					<form id="form-regist" action="" method="post">
						<div class="regist-form">
							<div class="mt">
								<h2>用户注册</h2>
								<a href="" class="right-login">
									<span>已有账号?</span>
									登录
								</a>
							</div>
							<div class="mc">
								<div>
									<i class="mc-head-icon"></i>
									<input type="text" name="account" id="account" required placeholder="手机号/邮箱" autocomplete="off"/>
								</div>
								<div>
									<i class="mc-psw-icon"></i>
									<input type="password" name="password" id="password" required placeholder="密码" />
								</div>
								<div id="confirm-box">
									<i class="mc-psw-icon"></i>
									<input type="password" id="confirm" required placeholder="确认密码" />
								</div>
							</div>
							<div class="agree">
								<input type="checkbox" name="agree" id="agreement" required value="1" checked/>
								<label>我已看过并接受《<a href="">用户协议</a>》</label>
							</div>
							<div class="loginregist-btn">
								<input type="submit" id="regist-submit" name="submit" value="立即注册"/>
							</div>
							
						</div>
					</form>
				</div>
			</div>
		</div>
	<!--占位-->
		<div id="placeholder"></div>
	</body>
	<script src="libs/jquery.min.js"></script>
	
	
	<script id="hotQuery" type="text/html">
		{{each word as w index}}
			{{if index!=0}}<li>|</li>{{/if}}
			<li><a href="">{{w}}</a></li>
		{{/each}}				
	</script>
	
	
	<script id="allCate" type="text/html">
		{{each li as l index}}
			<li><a href="">{{l.title}}</a><i class="fa fa-angle-right"></i>
				<div class="categorys">
					<div class="item-left">
						{{each l.h4 as h index}}
						<h4><a href=""><span>{{h}}</span><span><i class="fa fa-angle-right"></i></span></a></h4>
						{{/each}}
						<div class="subitems">
                          {{each l.dl as d index}}
							<dl class="fore1">
								<dt><a href="">{{d.dt}}<i class="fa fa-angle-right"></i></a></dt>
								<dd>
									{{each d.dd as a index}}
										<a href="">{{a}}</a>
									{{/each}}
								</dd>
							</dl>
							{{/each}}
						</div>
					</div>
					<div class="item-right">
						
					</div>
				</div>
			</li>
		{{/each}}
	</script>
	
	<script id="tab" type="text/html">
		<div class="store-wall-ad">
			<a href=""></a>
		</div>
		<table class="store-con">
			{{each street as s index}}
				{{if index%6 == 0}}<tr>{{/if}}
				<td><a href=""><img src="img/store-wall/{{s.img}}" alt="" /></a></td>
				{{if (index+1)%6 == 0}}</tr>{{/if}}
			{{/each}}
		</table>
			
	</script>
	
	<script id="tt" type="text/html">
		<ul class="tabs-option">			
			{{each title as t index}}
				<li {{if index==0}}class="tabs-current"{{/if}}>
					<h3>{{t}}</h3>
					<i {{if index==0}}class="fa fa-caret-up"{{/if}}></i>
				</li>
			{{/each}}
		</ul>
		
		{{each goods as g index}}
		<ul class="tabs-sale-goods  {{if index==0}}current-list{{/if}}">			
			{{each g as b index}}
				<li>
					<a href="">
						<img src="img/tabs-sale-goods/{{b.img}}"/>
					</a>
					<p class="goods-name"><a href="">{{b.desc}}</a></p>
					<p class="goods-price">商城价：<span>{{b.price}}</span></p>
				</li>
			{{/each}}
		</ul>
		{{/each}}
	</script>
	<script src="js/pinjie.js"></script>
	
	<script src="js/index.js"></script>
	
	<script src="js/carousel.js"></script>
	<script src="js/login-regist.js"></script>

</html>
