
.pop-mask{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 9999;
	display: none;
}
.pop-login{
	width: 418px;
	height: 404px;
	background-color: white;
	position: fixed;
	top: 71px;
	left: 50%;
	margin-left: -209px;
}
.pop-header{
	width: 418px;
	height: 36px;
	padding: 0 10px;
	line-height: 36px;
	background: #f7f7f7;
	font-size: 14px;
	color: #666;
}
#pop-close{
	float: right;
	margin-top: 10px;
	cursor: pointer;
}
.pop-con{
	width: 200%;
	height: 360px;
	padding-top: 20px;
	position: relative;
	background-color: white;
	transition: transform 0.5s;
	
}
.pop-con form{
	width: 50%;
}
.mt{
	width: 306px;
	height: 27px;
	margin: 0 auto;
}
.mt h2{
	display: inline-block;
	margin: 0;
	color: #666666;
	width: 80px;
	height: 27px;	
	font-weight: normal;
	font-size: 20px;
}
.right-regist{
	float: right;
	line-height: 27px;
	font-size: 12px;
	text-decoration: none;
	color: #E31939;
}
.mc{
	padding-top: 20px;
}
.mc div{
	text-align: center;
	margin-top: 18px;
	position: relative;
}
.mc input{
	width: 304px;
	height: 38px;
	border: 1px solid #DDDDDD;
	padding: 10px 0 10px 40px;
}
.mc div i{
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url(../img/user-icon.png);
	position: absolute;
	left: 65px;
	top: 9px;
}
.mc-head-icon{	
	background-position: 0 -15px;	
}
.mc-psw-icon{
	background-position: 0 -36px;
}
.safety{
	width: 308px;
	height: 18px;
	font-size: 12px;
	margin: 20px auto 10px;
}
#remember{
	margin: 0;
	position: relative;
	top: 3px;
	left: 1px;
}
#remember+label{	
	color: #666666;
}
.forget-psw{
	float: right;
	text-decoration: none;
	color: #666666;
}
.forget-psw:hover{
	color: #E31939;
}

.loginregist-btn{
	width: 306px;
	height: 35px;
	margin: 0 auto;
}
.loginregist-btn input{
	width: 306px;
	height: 35px;
	font-size: 14px;
	color: #FFF;
	background: #E31939;
	text-align: center;
	cursor: pointer;
	letter-spacing: 2px;
	border: none;
}
.item-coagent{
	width: 306px;
	height: 24px;
	margin: 20px auto 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.item-coagent a{
	font-size: 12px;
	color: #666666;
	text-decoration: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 74px;
	height: 24px;
}
.item-coagent a:hover{
	color: #E31939;
}
.item-coagent a i{
	display: inline-block;
	width: 24px;
	height: 24px;
	background-image: url(../img/user-icon.png);	
}
.weixin{
	background-position: -24px 0;
}
.qq{
	background-position: -24px -25px;
}
.weibo{
	background-position: -24px -50px;
}
/*注册*/
#form-regist{
	position: absolute;
	top: 20px;
	right: 0;
}
.right-login{
	float: right;
	line-height: 27px;
	font-size: 12px;
	text-decoration: none;
	color: #E31939;
}
.right-login span{
	color: #666666;
}

#confirm-box{
	margin-bottom: 5px;
}
.agree{
	width: 308px;
	height: 18px;
	font-size: 12px;
	margin: 10px auto 6px;
}
#agreement{
	margin: 0;
	position: relative;
	top: 2px;
	left: 1px;
}
.agree a{
	text-decoration: none;
	color: dodgerblue;
}
